spring:
  config:
    activate:
      on-profile:
      - qa

server:
  port: 8080
  
management:
  endpoint:
    health:
      probes:
        enabled: true
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true
      
database:
  username: qa
  password: qa
  server:
    ip: 10.10.10.2
    port: 1234